%h1 Feedback Form

%form{ :action => "/form", :method => "POST", :enctype=>"multipart/form-data" }
  %p
    name:
    %input{:name => "name", :type => "text", :maxlength => "250"}/
  %p
    email:
    %input{:name => "email", :type => "email"}
  %p
    message:
    %textarea{:name => "message", :cols => "30", :rows => "2", :minlength => "5", :required =>"true"}
  %p
    Add file:
    %input{:type=>"file", :name=>"image"}
  %p
    %button.button Send
  = recaptcha_tags